[run]
branch = True
source = assignment_aa
omit = assignment_aa/test*
       assignment_aa/script*


[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = assignment_aa/test*
       assignment_aa/script*